# Archivos de logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencias de Node.js
backend/node_modules
frontend/node_modules

# Archivos de compilación / distribución
frontend/dist
backend/dist
dist-ssr

# Archivos locales de entorno
*.local
backend/.env
frontend/.env

# Configuración de editores y archivos del sistema
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
